.grid-box{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
}

.cell{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 2px rgb(0 0 0 / 7%), 0 5px 6px rgb(0 0 0 / 16%);
  height: 150px;
  background-color: #2d3138;
  color: #e0f2fc;
  font-size: larger;
  font-weight: bolder;
}
.left {
  width: 25%;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 14%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.title-game
{
  width: 100%;
  margin: 0;
  position: absolute;
  top: -80%;
  left: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #1c2838;
  font-family: fantasy;
  font-size: 45px;
}
.center {
  width: 25%;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.resultado
{
  background-color: #1c2838;
  color:#e0f2fc;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-top: 50px;
  width: 40%;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 4px dashed #e0f2fc;
  border-radius: 10px;
  padding: 10px;
}

.right {
  width: 25%;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 85%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.color-nav
{
  background-color: #1c2838;
  
}
.text
{
  color: #e0f2fc;
  font-family: fantasy;
  font-size: 25px;
}

.btn {
  border-radius: 4px;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 40px;
  margin-left: 35px;
  letter-spacing: .02rem;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: relative;
  -webkit-transform: skew(-21deg);
  -ms-transform: skew(-21deg);
  transform: skew(-21deg);
}

.btn-reset
{
  border-radius: 4px;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  border: none;
  margin-left: 118px;
  letter-spacing: .02rem;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: relative;
  -webkit-transform: skew(-21deg);
  -ms-transform: skew(-21deg);
  transform: skew(-21deg);

}

.btn-aqua {
  background-color: #1c2838;
  color: #e0f2fc;
}

.btn-aqua:hover
{
  background-color: #e0f2fc;
  color: #1c2838;
  border: 1px solid #1c2838
}

.select
{
 width: 380px;
}

.label
{
  color: #1c2838;
  font-family: fantasy;
  font-size: 18px;
  margin-bottom: 10px;

}

.label-estado
{
  color: #1c2838;
  font-family: fantasy;
  font-size: 25px;
  margin-bottom: 10px;

}